body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0f0f0f;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
